@model Escolar.Models.Profesor;

@{
    ViewData["title"] = "Eliminar Datos";
}

<h2>Eliminar Profesor</h2>

<p>Esta seguro de eliminar Profesor "@Model.Nombre"</p>
<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <button type="submit">Si, Eliminar</button>
    <button type="button" onclick="javascipts:history.back();">Cancelar</button>
</form>
